
@font-face {
    font-family: 'NeutraTextBold';
    src: url('../fonts/NeutraTextBold.eot');
    src: url('../fonts/NeutraTextBold.eot') format('embedded-opentype'),
         url('../fonts/NeutraTextBold.woff') format('woff'),
         url('../fonts/NeutraTextBold.ttf') format('truetype'),
         url('../fonts/NeutraTextBold.svg#RonniaRegular') format('svg');
}

/*
  Fontello
*/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?17297495');
  src: url('../fonts/fontello.eot?17297495#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?17297495') format('woff'),
       url('../fonts/fontello.ttf?17297495') format('truetype'),
       url('../fonts/fontello.svg?17297495#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17297495#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-logo:before { content: '\e800'; } /* '' */


/*
  Fontello ie 7
*/
[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-logo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }






/*
  Fontello ie7 codes
*/

.icon-logo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }



/*
  Fontello Codes
*/
.icon-logo:before { content: '\e800'; } /* '' */







