


	@media screen and (orientation:landscape) {
		#canvas {
			width: 100%;
		}
	}
	@media screen and (orientation:portrait) {
		#canvas {
			position: absolute;;
		    left: -9999px;
		    right: -9999px;
		    margin: auto;
		}
	}

	@media screen and (max-width: 724px) {

	}